body {
    padding: 0%;
    margin: 0%;
}

.nav {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 5%;
}

.nav_links {
    display: flex;
    gap: 10%;
}

.nav_links li {
    list-style: none;
}

.search {
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    padding: 1%;
    width: 70%;
    outline: none;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 1%;
}

.products section {
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    border: solid black 2px;
    padding: 2%;
}

.products img {
    width: 90%;
}

.pro_desc:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.about {
    padding: 5%;

}

.footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    color: white;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 10px;
        ;
    }

    .nav {
        justify-content: space-around;
    }
}